body{ 
    margin: 50px ;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
div{
    margin: 300px;
    background-image: url('imagen/img4.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
p{
    text-align: center;
    color: white;
    size: center;
    font-size: 40px;
}
h2{
    text-align: center;
}